.home {
    background-color: #f3f3f3;
    padding: 5rem 0 7rem 0;
}

.homeContainer {
    margin-left: 7rem;
    display: flex;
}

.homeTextContent {
    align-self: center;
    flex: .6;
    margin-top: 1rem;
}

.homeTextContent h1 {
    font-family: 'Azo Sans Bd', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 45px;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 2.5rem;
}

.homeTextContent h1 span {
    color: #FF8C00;
}

.homeTextCta {
    display: flex;
    gap: 2rem;
    margin-bottom: 4rem;
}

.homeTextCta a {
    font-family: 'Azo Sans Bd', sans-serif;
    font-size: 0.9375rem;
    text-transform: uppercase;
    border-radius: .6rem;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 2rem;
    transition: all .2s ease;
}

.homeTextCta a:first-of-type {
    background-color: #FF8C00;
    color: #ffffff;
}

.homeTextCta a:last-of-type {
    background-color: transparent;
    color: #FF8C00;
    padding: 0;
    align-self: center;

    &:hover {
        text-decoration: underline;
    }
}

.homeTextCta a:hover {
    transform: translateY(-1px);
}

.homeTextUsers {

    p {
        margin-bottom: 1rem;
    }
}

.userLogos {
    display: flex;
    gap: 3rem;
}

.homeImgContainer {
    flex: 1;
    margin-top: -2rem;
}



// Case Studies Section
.caseStudies {
    padding: 4rem 7rem;
    background-color: #F9F9F9;

}

.caseStudiesContainer {
    display: flex;
    justify-content: space-between;



    h2 {
        font-family: 'Azo Sans Bd', sans-serif;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 45px;
        letter-spacing: 0px;
        text-transform: uppercase;
        color: #333333;
        align-items: center;
        margin-top: 2rem;
    }
}

.caseStudiesLeft {

    p {
        font-family: 'Azo Sans';
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.6252632141113281px;
        margin-bottom: 1.5rem;
    }

    a {
        font-family: 'Azo Sans Bd', sans-serif;
        font-size: 0.9375rem;
        text-transform: uppercase;
        border-radius: .6rem;
        font-weight: 700;
        text-decoration: none;
        transition: all .2s ease;
        background-color: transparent;
        color: #FF8C00;

        &:hover {
            text-decoration: underline;
        }
    }
}

//Feature Section
.feature {
    padding: 4rem 0rem 4rem 0rem;
}

.featuresContainer {}

.featuresTop {
    display: flex;
    justify-content: space-between;
    padding-left: 7rem;
    margin-bottom: 7rem;

    &>* {
        flex: 1;
    }
}

.featuresContent {
    align-self: center;
}

.featuresContent h3 {
    color: #FF8C00;
    font-family: 'Azo Sans', 'Open Sans', sans-serif;
    font-size: 1.25;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.featuresContent h2 {
    font-family: 'Azo Sans Bd', 'Open Sans', sans-serif;
    color: #333333;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 1rem;
    max-width: 80%;
}

.featuresContent h2 span {
    color: #FF8C00;
}

.featuresContent p {
    color: #696871;
    font-size: 400;
    margin-bottom: 1rem;
    max-width: 85%;
    text-transform: capitalize;
    line-height: 30px;
    font-size: 1.25rem;
}

.featuresContent a {
    font-family: 'Azo Sans Bd', 'Open Sans', sans-serif;
    display: inline-block;
    background-color: #FF8C00;
    color: #FFFFFF;
    font-size: 1.0625rem;
    text-transform: uppercase;
    border-radius: .6rem;
    font-weight: 700;
    text-decoration: none;
    padding: 1rem 3rem;
    transition: all .2s ease;
}

.featuresContent a:hover {
    transform: translateY(-1px);
}