@import './_mixins';

.tabContent {
    background-color: #525252;
    color: #ffffff;
    padding: 5rem 2.5rem 5rem 7rem;
    display: flex;
    gap: 12rem;

    @include respond(tab-land) {
        padding: 3rem 2.5rem 3rem 5.5rem;
        gap: 6rem;
    }
}

.tabContent>* {
    flex: 1;
}

.tabContentContainer {
    align-self: center;
}

.tabContentContainer h2 {
    font-family: 'Azo Sans Bd', 'Open Sans', sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
}

.tabContentContainer h3 {
    font-family: 'Azo Sans Bd', 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

.tabContentContainer p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.6252632141113281px;
    text-align: left;
    margin-bottom: 2rem;

    @include respond(tab-land) {
        font-size: 1rem;
        line-height: 23px;
    }
}

.tabAudioGroup {
    align-self: flex-start;
    padding: 2.7rem;
    background-color: #616161;
    border-radius: .9rem;
    box-shadow: 1px 1px 5px #525252;
    max-width: 470px;
    // margin-right: 4rem;

    h4 {
        font-family: 'Azo Sans Bd', 'Open Sans', sans-serif;
        font-size: 1.0625rem;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.5314737558364868px;
        text-transform: uppercase;
        margin-bottom: 2.4rem;
    }

    a {
        font-family: 'Azo Sans Bd', 'Open Sans', sans-serif;
        font-size: 1.0625rem;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.5314737558364868px;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
        text-align: center;
        display: block;
        border: 1px solid #ffffff;
        padding: 1rem 0;
        border-radius: .9rem;
    }
}